/*html *{
  text-align: center;
}*/

/*.container {
  width: 1450px;
  height: 700px;
  margin: 0 auto;
}*/

/*
.row
{
    display: table;
    width: 50%; 
}

.column
{
    display: table-cell;
    background-color: red; 
}

.timersContainer {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.workTimer, .breakTimer {
  margin: 0 auto;
}
*/