
body {
  font-weight: bold;
}

.timersContainer {
  position: relative;
}

.buttonDiv {
  position: relative;
}



button, .breakTime, .workTime {
  display: inline-block;
}

button {
  margin-top: -20px;
}

.breakTime, .workTime, .countDown {
    font-size: 50px;
    padding: 0 15px 0 15px;
}

.countDown {
  padding-top: 10px;
}

img {
   position: relative;
   width: 0px;
   height: 0px;
}

.pop {
  font-size: 80px;
  margin-top: 50px;
  color: white;
}
